<link rel="stylesheet" href="/css/error400.css">

<div>

    <div class="error-400">
        <img class="img" src="/gifs/error-400.gif" alt="">

        <h4 class="title">¡Errooor 400!</h4>
        <p class="contenido">El servidor no pudo procesar la solicitud, error de sintaxis o de formato.</p>
        <p class="contenido">Puede intentar volviendo a</p>

        <a class="btn btn-primary" href="/" role="button">Ir a inicio</a>

    </div>

      
</div>



<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Error 400 -</title>
</head>
<body>
    <h1>Error 400 - Solicitud Incorrecta</h1>
    <p>Lo sentimos, la solicitud del cliente es incorrecta o no pudo ser procesada.</p>
</body>
</html>
-->