<link rel="stylesheet" href="/css/error404.css">

<div>

    <div class="error-404">
        <img src="/gifs/error404.gif" alt="">

        <h4 class="title">¡Ooops!</h4>
        <p class="contenido">No podemos encontrar la paginá que buscaba.</p>
        <p class="contenido">Puede intentar Volviendo a</p>

        <a class="btn btn-primary" href="/" role="button">Ir a inicio</a>

    </div>

</div>



<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Error 404 -</title>
</head>
<body>
    <h1>Error 404 - Página no encontrada</h1>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
</body>
</html>
-->