<link rel="stylesheet" href="/css/error500.css">

<div>

    <div class="error-404">
        <img class="img" src="/gifs/error-500.gif" alt="">

        <h4 class="title">¡Errooor 500!</h4>
        <p class="contenido">Algo ha salido mal en el servidor web al intentar procesar una solicitud del navegador.</p>
        <p class="contenido">Puede intentar Volviendo a</p>

        <a class="btn btn-primary" href="/" role="button">Ir a inicio</a>

    </div>

      
</div>




<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Error 500 -</title>
</head>
<body>
    <h1>Error 500 - Error Interno del Servidor</h1>
    <p>Lo sentimos, ocurrió un error interno en el servidor.</p>
</body>
</html>
-->