<link rel="stylesheet" href="/css/bg.css">

<nav class="navbarMain">
  <ul class="ul-container">
    <!--
    <div class="sesionDiv">
      <h1 id="userSesion">Sesion activa: <br></h1>
    </div>
    -->

    <div class="funcionesPublicas">
      <div class="logoDiv">
        <a href="/"><img src="/images/logoChirris.jpg" alt="logoChirris" class="logoChirris"></a>
      </div>

      <a href="/"><li>INICIO</li></a>
      <a href="/list"><li>PRODUCTOS</li></a>
      <a href="/promos"><li>PROMOCIONES</li></a>
      <!--<a href="/"><li>PEDIDOS</li></a>-->
      <a href="/ayuda"><li>AYUDA</li></a>
      
    </div>

    <div class="funcionesUsuario">
      <div>
        <h5>¡Disfruta de la experiencia que comparte Chirris House!</h5>
      </div>

      <div>
        <a href="/login"><li>Iniciar Sesión</li></a>
        <a href="/registro"><li>Crear cuenta</li></a>
        
      </div>

      <!--
      <div>
        <a href="/perfil"><li>(Username)PERFIL</li></a>
        <a href="/"><li>MIS COMPRAS</li></a>
        <a href="/"><img src="/images/canasta.png" alt="logoChirris" class="canasta"></a>
      </div>
      -->
    </div>
  </ul>
</nav>







<!--

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <b>CRUD Node JS</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Crear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list">Listar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

-->